/* Global Styles & Custom Fonts */

@font-face {
    font-family: "FiraCode";
    src: url("/assets/fonts/FiraCode-Regular.woff2") format("woff2"),
        url("/assets/fonts/FiraCode-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "FiraCode", monospace;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}
